.definition {
    background-color: #eebece;
    text-align: right;
    height: 650px;
    span {
        color: #0b24fb;
        font-weight: bold;
    }
    &-text {
        width: 311px;
        color: black;
        font-weight: 500;
        font-size: 16px;
        margin-top: 15%;
        margin-left: 5%;
    }
    &-blue {
        margin-top: -1rem;
        padding-left: 15%;
        background-color: #eebece;
    }
    &-team {
        color: white;
        p {
            font-weight: 600;
        }
    }
}

.blue-dot {
    position: absolute;
    left: 2rem;
}

.testimony {
    position: absolute;
    top: 68.5rem;
    left: 1rem;
    h1 {
        color: white;
        font-weight: 900;
        font-size: 32px;
    }
}

@media (min-width: 320px) {
    .definition-text {
        margin: 0%;
    }
}


@media (min-width: 414px) {
    .definition {
        &-text {
        width: 400px;
        margin-left: 0%;
        }
        .testimony {
            top: 65.5rem;
        }
    }
}

@media (min-width: 768px) {
    .definition {
        img {
            top: 64rem;
        }
        &-text {
            width: 600px;
            margin-left: 8%;
            p {
                font-size: 22px;
            }
        }
    }
    .testimony {
        top: 66.5rem;
    }
}

@media (min-width: 1024px) {
    .definition {
        img {
            top: 64rem;
        }
        &-text {
            width: 600px;
            margin-left: 18%;
            p {
                font-size: 22px;
            }
        }
    }
    .testimony {
        top: 66.5rem;
    }
}

@media (min-width: 1280px) {
    .definition {
        img {
            margin-top: 2rem;
            top: 73rem;
        }
        background-color: #eebece;
        text-align: right;
        height: 580px;
        span {
            color: #0b24fb;
            font-weight: bold;
        }
        &-text {
            width: 619px;
            color: black;
            font-weight: 500;
            margin-left: 20%;
            margin-top: -1%;
            font-size: 21px;
        }
        &-blue {
            margin-top: -1rem;
            padding-left: 15%;
            background-color: #eebece;
        }
    }

    .blue-dot {
        position: absolute;
        left: 10rem;
    }

    .testimony {
        position: absolute;
        top: 77rem;
        left: 34rem;
        h1 {
            color: white;
            font-weight: 900;
            font-size: 32px;
        }
    } 
}

@media (min-width: 1440px) {
    .definition {
        &-text {
            width: 900px;
            color: black;
            font-weight: 500;
            margin-left: 20%;
            margin-top: -1%;
            p {
                font-size: 26px;
            }
        }
    }
    .testimony {
        position: absolute;
        top: 77rem;
        left: 40rem;
        h1 {
            color: white;
            font-weight: 900;
            font-size: 32px;
        }
    } 
}
