.header {
    display: flex;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    max-width: 375px;;
    p {
        font-size: 12px;
        margin-top: 10%;
        margin-bottom: -5%;
    }
    h5 {
        font-weight: bold;
        font-size: 16px;
    }
}

.logo {
    margin-left: 1rem;
}

@media (min-width: 1280px) {
    .header {
        display: flex;
        margin-bottom: 0.5%;
        margin-top: 0.5%;
        p {
            font-size: 12px;
            margin-top: 10%;
            margin-bottom: -5%;
        }
        h5 {
            font-weight: bold;
            font-size: 16px;
        }
    }

    .logo {
        margin-left: 10rem;
    }
}