.help {
  background-color: black;
  color: white;
  padding-top: 50%;
  h2 {
    text-align: center;
    font-weight: 900;
  }
  &-cards {
    padding-left: 12%;
    &-image {
      img {
        width: 311px;
        height: 176px;
      }
    }
    &-container {
      margin-left: -2%;
      margin-bottom: 3%;
    }
    &-box {
      background-color: black;
      width: 311px;
      height: 72px;
      opacity: 50%;
      padding: 3%;
      margin-top: -22.3%;
    }
    &-text {
      display: flex;
      width: 280px;
      height: 38px;
      position: absolute;
      margin-top: -13%;
      margin-left: 2%;
      h4 {
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding-right: 1rem;
      }
      input {
        width: 32px;
        height: 32px;
      }
    }
  }
}

.set {
  padding-bottom: 21.4rem;
  margin-top: 10%;
  img {
    position: absolute;
    margin-top: 10rem;
  }
  &-text {
    margin-left: 10%;
    h1 {
      margin-bottom: 5%;
      font-size: 32px;
      text-align: left;
      font-weight: 900;
    }
    p {
      font-size: 16px;
    }
  }
}

@media (min-width: 320px) {
  .help-cards {
    width: 80%;
    &-container {
      margin-left: -15%;
    }
    &-text {
      margin-top: -20%;
    }
  }
  .set {
    img {
      position: absolute;
      margin-top: 11.4rem;
    }
  }
}

@media (min-width: 360px) {
  .help-cards {
    padding-left: 16%;
  }
  .set {
    img {
      position: absolute;
      margin-top: 10rem;
    }
  }
}

@media (min-width: 375px) {
  .help-cards {
    padding-left: 18%;
  }
  .set {
    img {
      position: absolute;
      margin-top: 10rem;
    }
  }
}

//Pixel 2
@media (max-width: 411px) {
  .help {
    &-cards {
      &-text {
        margin-top: -12%;
      }
    }
  }
}

//Nexus 7
@media (min-width: 600px) {
  .help {
    margin-top: -30%;
    &-cards {
      &-box {
        height: 87px;
      }
      &-text {
        margin-top: -8%;
      }
      &-container {
        margin-left: 8%;
      }
    }
  }
  .set {
    &-text {
      margin-left: 1%;
      p {
        text-align: center;
      }
      h1 {
        text-align: center;
      }
    }
    img {
      position: absolute;
      margin-top: 9.8rem;
      left: 0%;
    }
  }
}

@media (min-width: 768px) {
  .help {
    margin-top: -30%;
    padding-left: 5%;
    &-cards {
      &-box {
        height: 87px;
      }
      &-text {
        margin-top: -8%;
      }
      &-container {
        margin-left: 28%;
      }
    }
  }
  .set {
    &-text {
      p {
        text-align: center;
      }
      h1 {
        text-align: center;
      }
    }
    img {
      position: absolute;
      margin-top: 9.8rem;
      left: 0%;
    }
  }
}

@media (min-width: 1024px) {
  .help {
    padding-left: 3%;
    &-cards {
      &-box {
        margin-top: -18%;
      }
      &-text {
        margin-top: -5%;
      }
      &-container {
        margin-left: 33%;
      }
    }
  }
  .set {
    &-text {
      p {
        text-align: center;
      }
      h1 {
        text-align: center;
      }
    }
    img {
      position: absolute;
      margin-top: 10.5rem;
      left: 0%;
    }
  }
}

@media (min-width: 1280px) {
  .help {
    margin-top: 0%;
    background-color: black;
    color: white;
    padding-top: 0;
    h1 {
      text-align: center;
      font-weight: 900;
    }
    &-cards {
      display: flex;
      padding-left: 12%;
      &-image {
        position: relative;
        img {
          width: 311px;
          height: 176px;
        }
      }
      &-container {
        margin-left: 1%;
      }
      &-box {
        background-color: black;
        width: 311px;
        height: 72px;
        opacity: 50%;
        padding: 3%;
        margin-top: -23%;
      }
      &-text {
        display: flex;
        width: 200px;
        position: absolute;
        margin-top: -4%;
        margin-left: 2%;
        h4 {
          color: white;
          font-size: 16px;
          font-weight: bold;
        }
        input {
          position: absolute;
          width: 32px;
          height: 32px;
          margin-left: 15rem;
        }
      }
    }
  }
  .set {
    margin-top: 10%;
    margin-left: 20%;
    display: flex;
    img {
      position: absolute;
      margin-top: 12%;
    }
    &-text {
      h1 {
        margin-bottom: 5%;
      }
      p {
        text-align: center;
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 1366px) {
  .help {
    h1 {
      margin-left: 0;
    }
    padding-left: 0%;
    &-cards {
      padding-left: 15%;
    }
  }
  .set {
    img {
      left: 0rem;
      margin-top: 11.5%;
    }
  }
}

@media (min-width: 1440px) {
  .help {
    padding-left: 0%;
    &-cards {
      padding-left: 18%;
    }
  }
  .set {
    img {
      left: 0rem;
      margin-top: 10.9%;
    }
    &-text {
      margin-left: 10%;
    }
  }
}
