.testimonials {
  position: absolute;
  top: 72rem;
  margin-left: 5%;
  h1 {
    color: white;
    font-weight: 900;
  }
  &-card {
    display: flex;
    &-container {
      padding: 25px;
    }
  }
}

.swiper {
  &-container {
    width: 350px;
    height: 170px;
    padding: 1rem;
    h1 {
      color: black;
      font-size: 32px;
    }
    p {
      font-size: 12px;
    }
  }
  &-slide {
    background-color: white;
    width: 247px !important;
  }
  &-button {
    &-prev {
      margin-right: 10%;
    }
    &-prev:after {
      content: url("../images/oval-icon-copy@3x.png") !important;
    }
    &-next:after {
      content: url("../images/oval-icon@3x.png") !important;
    }
  }
  &-pagination-bullets {
    display: none;
  }
}

// .swiper-button-prev:after {
//     content: url('../images/oval-icon-copy.png') !important;
// }

@media (min-width: 320px) {
  .swiper {
    &-container {
      width: 267px;
    }
  }
}

@media (max-width: 768px) {
  .swiper {
    &-button {
      &-prev {
        display: none !important;
      }
      &-next {
        display: none !important;
      }
    }
  }
}

@media (min-width: 411px) {
  .testimonials {
    position: absolute;
    top: 72rem;
  }
  .swiper-container {
    width: 300px;
  }
}

@media (min-width: 414px) {
  .testimonials {
    position: absolute;
    top: 72rem;
  }
  .swiper-container {
    width: 380px;
  }
}

@media (min-width: 600px) {
  .swiper {
    &-container {
      width: 500px;
    }
  }
}

@media (min-width: 768px) {
  .swiper {
    &-container {
      width: 700px;
    }
  }
}

@media (min-width: 1024px) {
  .swiper {
    &-container {
      width: 900px;
    }
  }
}

@media (min-width: 1280px) {
  .testimonials {
    position: absolute;
    top: 82rem;
    margin-left: 10%;
    h1 {
      color: white;
      font-weight: 900;
    }
    &-card {
      display: flex;
      margin-left: 10rem;
    }
  }
  .swiper {
    &-container {
      width: 700px;
      height: 170px;
      padding: 1rem;
      h1 {
        color: black;
        font-size: 32px;
      }
      p {
        font-size: 12px;
      }
    }
    &-slide {
      background-color: white;
    }
  }
}

@media (min-width: 1440px) {
  .swiper {
    &-container {
      width: 900px;
    }
  }
}
