.weekend {
    background-color: #eebece;
    background-image: url("../images/bg-1.png");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    color: white;
    h1 {
        font-size: 52px;
        text-align: center;
        font-weight: 900;
        line-height: 0.98;
        
    }
    p {
        font-style: italic;
        text-align: center;
        font-size: 19px;
        font-weight: 600;
    }
    button {
        position: absolute;
        top: 63%;
        left: 24%;
        border-radius: 29px;
        background-color: white;
        color: black;
        width: 231px;
        height: 59px;
        font-size: 16px;

    }
    &-container {
        margin-left: 3%;
        padding-top: 10%;
        img {
            margin-left: 25%;
        }
    }
}
//Iphone 5
@media (min-width: 320px) {
    .weekend{
        button {
            top: 81%;
            left: 21%;
        }
    }
}
//Galaxy S9
@media (width: 360px) and (height: 740px) {
    .weekend{
        button {
            top: 63%;
            left: 22%;
        }
    }
}

//Lumia
@media (width: 360px) and (height: 640px) {
    .weekend{
        button {
            top: 73%;
            left: 22%;
        }
    }
}

//Iphone X
@media (width: 375px) and (height: 812px) {
    .weekend{
        button {
            top: 58%;
            left: 23%;
        }
    }
}

@media (width: 375px) and (height: 667px) {
    .weekend{
        button {
            top: 70%;
            left: 23%;
        }
    }
}
//LG Optimus
@media (min-width: 384px) {
    .weekend{
        button {
            top: 73%;
            left: 23%;
        }
    }
}

//Nexus 5X
@media (min-width: 412px) and (min-height: 732px) {
    .weekend{
        button {
            top: 64%;
            left: 23%;
        }
    }
}

//Iphone 6
@media (min-width: 414px) and (min-height: 736px) {
    .weekend{
        button {
            top: 64%;
            left: 23%;
        }
    }
}

//Iphone XR
@media (min-width: 414px) and (min-height: 896px) {
    .weekend{
        button {
            top: 52.5%;
            left: 23%;
        }
    }
}

//Nexus 7
@media (min-width: 600px) {
    .weekend{
        background-position: 40% 30%;
        &-container {
            margin-left: 2%;
            padding-top: 5%;
            img {
                margin-left: 35%;
            }
        }
        button {
            top: 42.5%;
            left: 33%;
        }
    }
}
//ipad
@media (min-width: 768px) {
    .weekend{
        background-position: 20% 30%;
        &-container {
            margin-left: 2%;
            padding-top: 5%;
            img {
                margin-left: 35%;
            }
        }
        button {
            top: 74.5%;
            left: 33.5%;
        }
    }
}

//kindle fire hdx linux
@media (min-width: 800px) {
    .weekend{
        &-container {
            img {
                margin-left: 38%;
            }
        }
        button {
            top: 33.5%;
            left: 36.5%;
        }
    }
}

//ipad pro 10.5 inch
@media (min-width: 834px) {
    .weekend{
        &-container {
            margin-left: 4%;
            padding-top: 5%;
            img {
                margin-left: 36%;
            }
        }
        button {
            top: 38.5%;
            left: 36.5%;
        }
    }
}

//ipad pro 12.5 inch
@media (min-width: 1024px) {
    .weekend{
        background-position: 60% 70%;
        &-container {
            margin-left: 4%;
            padding-top: 5%;
            img {
                margin-left: 36%;
            }
        }
        button {
            top: 32%;
            left: 36.5%;
        }
    }
}

//MDPI Laptop
@media (min-width: 1280px) {
    .weekend {
        background-color: #eebece;
        background-image: url("../images/bg-1.png");
        height: 732px;
        color: white;
        h1 {
            font-size: 62px;
            text-align: center;
            margin-left: -31%;
            font-weight: 900;
            
        }
        p {
            font-style: italic;
            text-align: center;
            font-size: 21px;
            margin-left: -36%;
        }
        button {
            position: absolute;
            top: 70%;
            left: 43.5%;
            border-radius: 29px;
            background-color: white;
            color: black;
            width: 231px;
            height: 59px;
            font-size: 16px;

        }
        &-container {
            margin-left: 25%;
            padding-top: 5%;
            img {
                margin-left: 27%;
            }
        }
    }
}

//Laptop
@media (min-width: 1366px) {
    .weekend {
        button {
            position: absolute;
            top: 61%;
            left: 43.5%;
            border-radius: 29px;
            background-color: white;
            color: black;
            width: 231px;
            height: 59px;
            font-size: 16px;

        }
    }
}

//HiDPI Laptop
@media (min-width: 1440px) {
    .weekend {
        button {
            position: absolute;
            top: 53%;
            left: 43.5%;
            border-radius: 29px;
            background-color: white;
            color: black;
            width: 231px;
            height: 59px;
            font-size: 16px;

        }
    }
}